build/
vendor/go.mongodb.org
vendor/golang.org
vendor/google.golang.org
vendor/gopkg.in
vendor/github.com/TV4
vendor/github.com/aws
vendor/github.com/davecgh
vendor/github.com/go-stack
vendor/github.com/gogo
vendor/github.com/golang
vendor/github.com/grpc-ecosystem
vendor/github.com/jmespath
vendor/github.com/kelseyhightower
vendor/github.com/klauspost
vendor/github.com/konsorten
vendor/github.com/pkg
vendor/github.com/pmezard
vendor/github.com/sirupsen
vendor/github.com/stretchr
vendor/github.com/xdg
